# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================
# Virtual Environment
# ==========================
venv/
.env
.env.*

# ==========================
# Local Database
# ==========================
barbechai.db
*.db
*.sqlite
*.sqlite3

# ==========================
# Backups
# ==========================
*.bak
*.old
*.tmp

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Alembic
# ==========================
alembic/versions/__pycache__/
*.swp
*.swo
